//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^imdbprime.herokuapp.com[nc]
RewriteRule ^(.*)$ http://www.imdbprime.herokuapp.com/$1 [r=301,nc]

//301 Redirect Old File
Redirect 301 /index.html /u/index.html

Header set Access-Control-Allow-Origin *