<label *ngIf="settingYear" [@scalingTrigger]="animationYearScalingState">
    <span
            class="label label-info"
            (click)="openYearDialog()">
        {{valuesService.minYearValueFilter.toString()}}</span>
</label>




<label *ngIf="settingRatingValue" [@scalingTrigger]="animationRatingValueScalingState">
    <span
            class="label label-info"
            (click)="openRatingValueDialog()">
        {{valuesService.minRatingValueFilter.toLocaleString('en')}}</span>
</label>




<label *ngIf="settingRatingCount" [@scalingTrigger]="animationRatingCountScalingState">
    <span
            class="label label-info"
            (click)="openRatingCountDialog()">
        {{valuesService.minRatingCountFilter.toLocaleString('en')}}</span>
</label>