<label *ngIf="settingYear" [@scalingTrigger]="animationYearScalingState">
    <span
            class="label label-info"
            (click)="openYearDialog()">{{minYearValueFilter.toString()}}</span>
</label>




<label *ngIf="settingRatingValue" [@scalingTrigger]="animationRatingValueScalingState">
    <span
            class="label label-info"
            (click)="openRatingValueDialog()">{{minRatingValueFilter.toLocaleString('en')}}</span>
</label>




<label *ngIf="settingRatingCount" [@scalingTrigger]="animationRatingCountScalingState">
    <span
            class="label label-info"
            (click)="openRatingCountDialog()">{{minRatingCountFilter.toLocaleString('en')}}</span>
</label>