<!--Dialogs HowTo:
    1. https://medium.com/@tarik.nzl/making-use-of-dialogs-in-material-2-mddialog-7533d27df41
 -->

<p *ngIf="title">{{title}}</p>
<p *ngIf="message">{{message}}</p>


<div class="row">
    <div *ngIf="this.yearShow" id="yearContainer">
        <label>Year:
            <span class="label label-info">{{yearSliderValue.toString()}}</span>
        </label>
        <md-slider
                class="slider"
                min="1950"
                max="2017"
                step="1"
                tickInterval="auto"
                [value]="this.yearSliderValue"
                thumbLabel="false"
                (input)="mdSliderInput_Year($event)"
                (change)="mdSliderChange_Year($event)"
        ></md-slider>
    </div>
    <div *ngIf="this.ratingValueShow" id="ratingValueContainer">
        <label>Rating Value:
            <span class="label label-info">{{ratingValueSliderValue.toLocaleString('en')}}</span>
        </label>
        <md-slider
                class="slider"
                min="1"
                max="9.3"
                step="0.1"
                tickInterval="auto"
                [value]="this.ratingValueSliderValue"
                thumbLabel="false"
                (input)="mdSliderInput_RatingValue($event)"
                (change)="mdSliderChange_RatingValue($event)"
        ></md-slider>
    </div>
    <div *ngIf="this.ratingCountShow" id="ratingCountContainer">
        <label>Rating Count:
            <span class="label label-info">{{ratingCountSliderValue.toLocaleString('en')}}</span>
        </label>
        <md-slider
                class="slider"
                min="10000"
                max="2000000"
                step="100000"
                tickInterval="1"
                [value]=this.ratingCountSliderValue
                thumbLabel="false"
                (input)="mdSliderInput_RatingCount($event)"
                (change)="mdSliderChange_RatingCount($event)"
        ></md-slider>
    </div>

    <div class="buttonWrapper">
        <button type="button" md-raised-button (click)="dialogRef.close(true)">Ok</button>
        <!--<button type="button" md-button (click)="dialogRef.close()">Cancel</button>-->
    </div>
</div>