.slider {
    width: 100%;
}

/* Center the button inside of the wrapper */
.centerWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.col-xs-3, .col-xs-9, .container-fluid {
    line-height:100%;
    text-align: center;
}

.prominentValue {
    font-size: 8vh;
}

/* mouse over for desktop computer */
@media screen and (min-width: 700px) {
    .prominentValue {
        -webkit-transition: font-size 1s, ease;
        transition: font-size 0.3s ease;
    }
    .prominentValue span {
        background-color: #0000bb;
    }
    .prominentValue:hover {
        font-size: 10vh;
    }
}

/*#ratingValueContainer {
    height: 208px;
}*/

.myModalDialog {
    max-height: 80vh;
    max-width: 80vw;
}