<!--Dialogs HowTo:
    1. https://medium.com/@tarik.nzl/making-use-of-dialogs-in-material-2-mddialog-7533d27df41
 -->

<p *ngIf="title">{{title}}</p>
<p *ngIf="message">{{message}}</p>


<div class="row myModalDialog">
    <!-- YEAR -->
    <div *ngIf="yearShow" id="yearContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <label>Min Year:</label>
                </div>
                <div class="col-xs-9">
                    <label class="prominentValue" [@scalingFastTrigger]="scalingStateYear" [@scalingSlowTrigger]="scalingStateYear">
                        <span class="label label-info">{{yearSliderValue.toString()}}</span>
                    </label>
                </div>
            </div>
        </div>

        <md-slider
                class="slider"
                [min]="minYear"
                [max]="maxYear"
                step="1"
                tickInterval="auto"
                [value]="yearSliderValue"
                thumbLabel="false"
                (input)="mdSliderInput_Year($event)"
                (change)="mdSliderChange_Year($event)"
        ></md-slider>
    </div>
    <!-- RATING VALUE -->
    <div *ngIf="ratingValueShow" id="ratingValueContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <label>Rating Value:</label>
                </div>
                <div class="col-xs-9">
                    <label class="prominentValue" [@scalingFastTrigger]="scalingStateRatingValue" [@scalingSlowTrigger]="scalingStateRatingValue">
                        <span class="label label-info">{{ratingValueSliderValue.toLocaleString('en')}}</span>
                    </label>
                </div>
            </div>
        </div>
        <md-slider
                class="slider"
                min="1"
                [max]="maxRatingValue"
                step="0.1"
                tickInterval="auto"
                [value]="ratingValueSliderValue"
                thumbLabel="false"
                (input)="mdSliderInput_RatingValue($event)"
                (change)="mdSliderChange_RatingValue($event)"
        ></md-slider>
    </div>
    <!-- RATING COUNT -->
    <div *ngIf="ratingCountShow" id="ratingCountContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <label>Rating Count:</label>
                </div>
                <div class="col-xs-9">
                    <label class="prominentValue" [@scalingFastTrigger]="scalingStateRatingCount" [@scalingSlowTrigger]="scalingStateRatingCount">
                        <span class="label label-info">{{ratingCountSliderValue.toLocaleString('en')}}</span>
                    </label>
                </div>
            </div>
        </div>
        <md-slider
                class="slider"
                min="10000"
                [max]="maxRatingCount"
                step="100000"
                tickInterval="1"
                [value]="ratingCountSliderValue"
                thumbLabel="false"
                (input)="mdSliderInput_RatingCount($event)"
                (change)="mdSliderChange_RatingCount($event)"
        ></md-slider>
    </div>

    <div class="centerWrapper">
        <button type="button" md-raised-button (click)="dialogRef.close(true)">Ok</button>
        <!--<button type="button" md-button (click)="dialogRef.close()">Cancel</button>-->
    </div>
</div>