/* Select and style an Dropdown-List (<select>),
<textarea>, input fields and the class="filterInput" when they get focus,
 change their font-size to prevent iOS Safari to zoom in and change the background

 New: IOS will still zoom, unless you use 16px on the input without the focus.
 */
@media screen and (max-width: 415px) {
    select,
    textarea,
    input,
    .filterInput {
        font-size: 16px !important;
    }

    .filterInput:focus {
        background: #eee;
    }
}


.flexBox {
    height: 492px;
    display:flex;
    flex-direction:column;
    border: 1px red solid;
}

.moviesHeader {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.tableWrapper {
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    overflow: hidden;
    border: 1px blue dotted;
}

virtual-scroll {
    height: 350px;
}