/* Select and style an Dropdown-List (<select>),
<textarea>, input fields and the class="filterInput" when they get focus,
 change their font-size to prevent iOS Safari to zoom in and change the background

 New: IOS will still zoom, unless you use 16px on the input without the focus.
 */
@media screen and (max-width: 415px) {
    select,
    textarea,
    input,
    .filterInput {
        font-size: 16px !important;
    }

    .filterInput:focus {
        background: #eee;
    }
}

/*.innerFlexBox {
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    background-color: yellow;
    border: black solid;
}*/

.innerHeader {
}

.innerContent {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    flex-grow: 1;
}

/* Overwrite the standard margin-bottom: 20px; between the top table with the
theader and the actual table with the tbody */
div.innerHeader table {
    margin-bottom: 0;
}

p.info {
    margin: 0;
    text-align: center;
    background-color: #eee;
}


/* option buttons */
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 0;
    z-index: 100;
    margin: 5px;
}