<!--Dialogs HowTo:
    1. https://medium.com/@tarik.nzl/making-use-of-dialogs-in-material-2-mddialog-7533d27df41
 -->

<p *ngIf="title">{{title}}</p>
<p *ngIf="message">{{message}}</p>


<div class="row myModalDialog">
    <!-- YEAR -->
    <div *ngIf="yearShow" id="yearContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <label>Min Year:</label>
                </div>
                <div class="col-xs-9">
                    <label class="prominentValue" [@scalingFastTrigger]="scalingStateYear" [@scalingSlowTrigger]="scalingStateYear">
                        <span class="label label-info">{{valuesService.minYearValueFilter.toString()}}</span>
                    </label>
                </div>
            </div>
        </div>

        <md-slider
                class="slider"
                [min]="valuesService.minYear"
                [max]="valuesService.maxYear"
                step="1"
                tickInterval="auto"
                [value]="valuesService.minYearValueFilter"
                thumbLabel="false"
                (input)="onYearInput($event)"
                (change)="onYearChanged($event)"
        ></md-slider>
    </div>
    <!-- RATING VALUE -->
    <div *ngIf="ratingValueShow" id="ratingValueContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <label>Rating Value:</label>
                </div>
                <div class="col-xs-9">
                    <label class="prominentValue" [@scalingFastTrigger]="scalingStateRatingValue" [@scalingSlowTrigger]="scalingStateRatingValue">
                        <span class="label label-info">{{valuesService.minRatingValueFilter.toLocaleString('en')}}</span>
                    </label>
                </div>
            </div>
        </div>
        <md-slider
                class="slider"
                min="1"
                [max]="valuesService.maxRatingValue"
                step="0.1"
                tickInterval="auto"
                [value]="valuesService.minRatingValueFilter"
                thumbLabel="false"
                (input)="onRatingValueInput($event)"
                (change)="onRatingValueChanged($event)"
        ></md-slider>
    </div>
    <!-- RATING COUNT -->
    <div *ngIf="ratingCountShow" id="ratingCountContainer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3">
                    <label>Rating Count:</label>
                </div>
                <div class="col-xs-9 ratingCountLabel">
                    <label class="prominentValue" [@scalingFastTrigger]="scalingStateRatingCount" [@scalingSlowTrigger]="scalingStateRatingCount">
                        <span class="label label-info">{{valuesService.minRatingCountFilter.toLocaleString('en')}}</span>
                    </label>
                </div>
            </div>
        </div>
        <md-slider
                class="slider"
                min="10000"
                [max]="valuesService.maxRatingCount"
                step="100000"
                tickInterval="1"
                [value]="valuesService.minRatingCountFilter"
                thumbLabel="false"
                (input)="onRatingCountChanged($event)"
                (change)="onRatingCountInput($event)"
        ></md-slider>
    </div>

    <div class="centerWrapper">
        <button type="button" md-raised-button (click)="dialogRef.close(true)">Ok</button>
        <!--<button type="button" md-button (click)="dialogRef.close()">Cancel</button>-->
    </div>
</div>